.desktop-folder img {
  width: 50px;
  height: 50px;
}

.desktop-folder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 10px;
  border-radius: 5px;
  height: 130px;
  width: 130px;
}
.desktop-folder:hover {
  background: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(5px) brightness(0.85) contrast(90%) grayscale(35%) saturate(174%);
}
.desktop-folder div {
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.folder-preview {
  position: absolute;
  width: 130px;
  height: 130px;
  border: 1px solid rgba(12, 36, 97,1.0);
  background-color: rgba(74, 105, 189,0.3);
  pointer-events: none;
  border-radius: 5px;
}

.selected {
    background: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(5px) brightness(0.85) contrast(90%) grayscale(35%) saturate(174%);
}