.dock {
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  height: 100px;
}

.dock_content {
  width: fit-content;
  bottom: 25px;
  left: calc(50%);
  display: flex;
  gap: 1rem;
  padding: 10px;
  background: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(5px) brightness(0.85) contrast(90%) grayscale(35%) saturate(174%);
  border-radius: 10px;
}

.window_dock, .window_dock_folder, .params_dock, .trash_dock, .snake_dock {
  width: 32px;
  height: 32px;
  cursor: pointer;
}
.active_dock {
  position: relative;
  &::after {
    content: '';
    position: absolute;
    bottom: -6px;
    left: calc(50% - 3.5px);
    width: 7px;
    height: 7px;
    border-radius: 50px;
    background: white;
  }
}

.window-menu {
  position: absolute;
  transform: translateY(-230px);
  left: calc(50% - 100px);
  z-index: 1000;
  overflow-y: auto;
  display: flex;
  background: #2f3542;
  width: 300px;
  gap: 1rem;
  flex-direction: column;
  height: 160px;
  padding: 10px;
  border-radius: 5px;
  color: white;
}
.window-menu div {
  cursor: pointer;
}