.notification-center {
  position: absolute;
  top: 60px;
  left: 50%;
  transform: translate(-100px, 0);
  display: flex;
  width: 300px;
  flex-direction: column;
  gap: 1rem;
  z-index: 900;
  height: fit-content;
}
.notification {
  backdrop-filter: blur(10px);
  background-color: rgba(0, 0, 0, 0.5);
  overflow: hidden;
  padding: 10px;
  border-radius: 5px;
  z-index: 500;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
    &:before {
        opacity: 0.55;
        content: '';
        position: absolute;
        top: -70px;
        right: -100px;
        width: 200px;
        height: 200px;
        filter: blur(60px);
        background-color: var(--notification-color);
        border-radius: 500px;
    }
    button {
      border: 2px solid var(--notification-color);
      background-color: var(--notification-color);
      border-radius: 0.4em;
      padding: 0.5em 1.2em 0.5em 1em;
      transition: all ease-in-out 0.2s;
      font-size: 16px;
      z-index: 9999;
      cursor: pointer;
      color: white;
    }
}
.notification-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 99999;
  color: white;
}