.windows_area {
  width: 100%;
  height: calc(100vh - 140px);
}

.window {
  background-color: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(25px) brightness(0.85) contrast(90%) grayscale(35%) saturate(174%);
  width: 700px;
  height: 400px;
  border-radius: 10px;
}

.fullScreen {
  transition: width 0.3s, height 0.3s, top 0.3s, left 0.3s;
}

.preview {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(15px) brightness(0.85) contrast(90%) grayscale(35%) saturate(174%);
}

.controller {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  border-radius: 10px 10px 0 0;
  height: 40px;
  background-color: rgba(46, 46, 46, 0.4);
  backdrop-filter: blur(25px) brightness(0.85) contrast(90%) grayscale(35%) saturate(174%);
  color: white;
  p {
    z-index: 900;
  }
}
.icon_controller {
  display: flex;
  gap: 0.7rem;
  justify-content: center;
  align-content: center;
  align-items: center;
}
.controller span {
  cursor: pointer;
}

.position-center {
  position: absolute;
  top: calc(50% - 200px);
  left: calc(50% - 350px);
}
.position-top-left {
  position: absolute;
  top: 0;
  left: 0;
}
.position-top-right {
  position: absolute;
  top: 0;
  right: 0;
}

.minimized {
  -webkit-animation: slide-out-blurred-bottom 0.3s cubic-bezier(0.755, 0.050, 0.855, 0.060) both;
  animation: slide-out-blurred-bottom 0.3s cubic-bezier(0.755, 0.050, 0.855, 0.060) both;
}

.content {
  height: calc(100% - 40px);
  gap: 10px;
  display: flex;
}

.minus {
  width: 15px;
  height: 15px;
  border-radius: 20px;
  border: .5px solid rgba(0,0,0,.12);
  background: radial-gradient(125% 125% at 50% 50%, #CECDCD 0%, rgba(215, 215, 215, 0.6) 100%);
  &:hover {
    background: #969494;
  }
}

.expand {
  width: 15px;
  height: 15px;
  border-radius: 20px;
  border: .5px solid rgba(0,0,0,.12);
  background: #f5bf4f;
  &:hover {
    background: #cfa243;
  }
}

.close {
  width: 15px;
  height: 15px;
  border-radius: 20px;
  border: .5px solid rgba(0,0,0,.12);
  background: #ec6a5e;
  &:hover {
    background: #973c34;
  }
}