.param_nav {
  display: flex;
  height: 100%;
  gap: 15px;
  width: 15rem;
  overflow-y: auto;
  padding: 10px;
  background: #2f3542;
  color: white;
}
.param_nav ul {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
  padding-right: 15px;
}
.param_nav li {
  cursor: pointer;
  display: flex;
  align-items: center;
  border-radius: 3px;
  padding: 5px;
  width: 100%;
}
.param_nav li:hover {
  background: #57606f;
}

.param_content {
  width: 100%;
  padding: 1rem;

  .param7_content {
    width: 100%;
  }

  .map-container {
    display: grid;
    grid-template-columns: 60px 60px 60px;
    grid-template-rows: 1fr 1fr;

    justify-content: center;
    gap: 1rem;
    grid-auto-flow: row;
    margin-top: 2rem;
    grid-template-areas:
    ". ToucheH ."
    "ToucheG ToucheB ToucheD";
  }

  .key-input {
    height: 60px;
    background-color: #677087;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #2f3542;
    color: white;
    font-weight: 500;
  }

  .ToucheH { grid-area: ToucheH; }

  .ToucheB { grid-area: ToucheB; }

  .ToucheG { grid-area: ToucheG; }

  .ToucheD { grid-area: ToucheD; }

}