.snake {
  width: 100%;
  border-radius: 10px;
}

.snake-window .controller {
  backdrop-filter: blur(10px);
  background-color: rgba(0, 0, 0, 0.5);
  overflow: hidden;

  &:before {
    opacity: 0.55;
    content: '';
    position: absolute;
    top: -30px;
    left: -100px;
    width: 200px;
    height: 200px;
    filter: blur(55px);
    background-color: var(--random-color);
    border-radius: 500px;
  }
}

.pause {
  width: 64px;
  height: 64px;
}