@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900&display=swap');

@font-face {
    font-family: 'PerfectDOSVGA437';
    src: url('/fonts/PerfectDOSVGA437.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
}

html, body {
    overflow: hidden;
    background-color: black;
}

#webgl {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}

#css3d {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

#shader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 3;
}

.container {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    left: 0;
    display: block;
}

.cursor-message {
    font-family: monospace;
    font-weight: 400;
    font-style: normal;
    background-color: black;
    opacity: .8;
    padding: 5px 10px;
    pointer-events: none;
    display: none;
    color: white;
    z-index: 5;
}

.cursor-pointer {
    cursor: pointer;
}

#loadingScreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100dvh;
    background-image: linear-gradient(to right bottom, #131313, #1b1b1b, #232323, #2b2b2c, #343334);
    z-index: 1000;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color: #808080;
    font-family: 'PerfectDOSVGA437', 'Tahoma', sans-serif;
    font-size: 1.6em;
    overflow: hidden;
    filter: contrast(1.5) brightness(0.8) saturate(1.2);
}

#loadingScreen::before, #loadingScreen::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    background-image: radial-gradient(circle, rgba(255,255,255,0.1) 1px, rgba(0,0,0,0) 1px);
    background-size: 3px 3px;
    opacity: 0.8;
}

#loadingScreen::after {
    background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2 2"%3E%3Crect width="1" height="1" fill="rgba(255,255,255,0.02)" /%3E%3C/svg%3E');
    animation: noise 0.2s infinite;
}

@keyframes noise {
    0%, 100% {
        opacity: 0.1;
    }
    50% {
        opacity: 0.4;
    }
}

#loadingScreenText {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
}

#loadingScreenImg {
    padding: 4rem;
}
#loadingScreenImg img {
    width: 100%;
}

#loadingScreenText .loadingScreenText_child {
    padding: 24px;
}

.textContent_1 {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.textContent_2 {
    margin-top: 2rem;
    display: flex;
    gap: 1rem;
}

.textContent_2 p {
    height: 30px;
}

.textContent_3 {
    margin-top: 2rem;
    display: flex;
    column-gap: 8rem;
}

.textContent_4 {
    margin-top: 2rem;
    display: flex;
    column-gap: 6rem;
}
.textContent_5 {
    margin-top: 4rem;
    display: flex;
    column-gap: 4rem;
}
.bold {
    font-weight: 500;
    color: white;
}

.p_child {
    display: none;
}

.show-message {
    display: flex;
}

/* Media Queries for Responsiveness */
@media (max-height: 1200px) {
    #loadingScreen {
        font-size: 20px;
    }
}

@media (max-width: 1200px) {
    #loadingScreen {
        font-size: 20px;
    }

    #loadingScreenImg {
        display: none;
    }
}

@media (max-width: 768px) {
    #loadingScreen {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 1.4em;
    }

    #loadingScreenText, #loadingScreenImg {
        width: 100%;
    }

    #loadingScreenText .loadingScreenText_child {
        padding: 16px;
    }

    .textContent_3 {
        column-gap: 1rem;
    }

    .textContent_5 {
        margin-top: 2rem;
        column-gap: 2rem;
    }

    .d-none {
        display: none;
    }

    .textContent_2 p {
        height: 20px;
    }
}

@media (max-width: 480px) {
    #loadingScreen {
        font-size: 1.2em;
    }

    .loadingScreenText_child {
        padding: 8px;
    }

    #loadingScreenImg {
        padding: 0.5rem;
    }
}

.fade-out {
    animation: turn-on 3s cubic-bezier(0.230, 1.000, 0.320, 1.000);
}

@keyframes turn-on {
    0% {
        transform: scale(1, 0.8) translate3d(0, 0, 0);
        opacity: 1;
    }
    3.5% {
        transform: scale(1, 0.8) translate3d(0, 100%, 0);
    }

    3.6% {
        transform: scale(1, 0.8) translate3d(0, -100%, 0);
        opacity: 1;
    }

    9% {
        transform: scale(1.3, 0.6) translate3d(0, 100%, 0);
        opacity: 0;
    }

    11% {
        transform: scale(1, 1) translate3d(0, 0, 0);
        opacity: 0;
    }

    100% {
        transform: scale(1, 1) translate3d(0, 0, 0);
        opacity: 1;
    }
}

#ui {
    position: fixed;
    bottom: 40px;
    right: 50%;
    transform: translateX(50%);
    font-family: monospace;
    font-weight: 400;
    font-style: normal;
    background-color: black;
    opacity: .8;
    padding: 8px 14px;
    color: white;

    display: none;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;

    z-index: 5;

    transition: opacity 0.5s;
}

#information {
    position: fixed;
    bottom: 20px;
    right: 25px;
    opacity: 0.4;

    font-family: monospace;
    color: white;

    z-index: 5;

    transition: opacity 0.5s;
}