@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900&display=swap');

* {
    margin: 0;
    padding: 0;
}

html, body {
    overflow: hidden;
    background-color: black;
}

#webgl {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}

#css3d {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

#shader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 3;
}

.cursor-message {
    font-family: monospace;
    font-weight: 400;
    font-style: normal;
    background-color: black;
    opacity: .8;
    padding: 5px 10px;
    pointer-events: none;
    display: none;
    color: white;
    z-index: 5;
}

.cursor-pointer {
    cursor: pointer;
}

#loadingScreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#loadingBarContainer {
    position: relative;
    width: 50%;
    height: 24px; /* Adjusted for retro look */
    background: #C0C0C0; /* Windows 95 grey */
    border: 2px solid #FFFFFF; /* White border */
    box-shadow: inset 1px 1px 0 #7F7F7F, inset -1px -1px 0 #000000; /* Inset shadow for 3D effect */
    margin-bottom: 20px;
}

#loadingBar {
    width: 0%; /* Start at 0% width */
    height: 100%;
    background: #000080; /* Windows 95 blue */
    box-shadow: inset 1px 1px 0 #FFFFFF, inset -1px -1px 0 #7F7F7F; /* Inset shadow for 3D effect */
    transition: width 0.2s; /* Smooth transition */
}

#loadingItems {
    height: 100px;
    overflow: overlay;
    width: 50%;
    list-style: none;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}
